<h1>Quick-Check</h1>
<!--
<form action="/headers.php" method="GET">
<h3>Security Header Scanning</h3>
<h4>Submit a URL</h4>
<input type="text" id="tbx_url" name="URL" value="http://example.com">
<input type="submit" value="submit" class="btn btn-primary" id="btn_submit">
</form>
-->

<!--
<div class="col-md-3 col-sm-6">
    <div class="<?PHP if($JSON->{"grade"} == "F") { echo "fail-col"; } elseif($JSON->{"grade"} == "A") { echo "pass-col"; } elseif($JSON->{"grade"} == "A+") { echo "pass-col"; } else { echo "warn-col"; } ?>">
        <div class="col-icon-wrapper">
          
        </div>
        <h1 class="col-title"><?PHP echo $JSON->{"grade"}; ?></h1>
        <div class="col-details">
          
        </div>     
    </div>                 
</div>

<div class="col-md-9 col-sm-6">                
    <div class="about-us-col">
        <div>
            <table id="secheaders">     
                <tr>
                    <td>Strict-Transport-Security</td>
                    <?PHP if($JSON->{"STS"} == 1) { echo "<td>✔️</td>"; } else { echo "<td>❌</td>"; }?>
                </tr>   
                <tr>
                    <td>Expect-CT</td>
                    <?PHP if($JSON->{"ECT"} == 1) { echo "<td>✔️</td>"; } else { echo "<td>❌</td>"; }?>
                </tr>
                <tr>
                    <td>Content-Security-Policy</td>
                    <?PHP if($JSON->{"CSP"} == 1) { echo "<td>✔️</td>"; } else { echo "<td>❌</td>"; }?>
                </tr>
                <tr>
                    <td>X-Frame-Options</td>
                    <?PHP if($JSON->{"XFO"} == 1) { echo "<td>✔️</td>"; } else { echo "<td>❌</td>"; }?>
                </tr>
                <tr>
                    <td>X-XSS-Protection</td>
                    <?PHP if($JSON->{"XSS"} == 1) { echo "<td>✔️</td>"; } else { echo "<td>❌</td>"; }?>
                </tr>
                <tr>
                    <td>X-Content-Type-Options</td>
                    <?PHP if($JSON->{"CTO"} == 1) { echo "<td>✔️</td>"; } else { echo "<td>❌</td>"; }?>
                </tr>  
                <tr>
                    <td>Referrer-Policy</td>
                    <?PHP if($JSON->{"RP"} == 1) { echo "<td>✔️</td>"; } else { echo "<td>❌</td>"; }?>
                </tr>  
                <tr>
                    <td>Feature-Policy</td>
                    <?PHP if($JSON->{"FP"} == 1) { echo "<td>✔️</td>"; } else { echo "<td>❌</td>"; }?>
                </tr> 
            </table>
        </div>                   
    </div>                 
</div>
-->