<h1>Pen-Test</h1>
<!--
<form id="regForm" action="#">
<h1 id="formHeader">Request a Security Test</h1>
Your Name:
<input placeholder="Your Name..." name="REPORTER" oninput="this.className = ''">
Application Name:
<input placeholder="Name of the application..." name="WHAT" oninput="this.className = ''">
Internal or External Scan?
<label for="scanChoice1">Internal</label>
<input class="rb" type="radio" id="scanChoice1" name="INEX" value="Internal">
<label for="scanChoice2">External</label>
<input class="rb" type="radio" id="scanChoice2" name="INEX" value="External">
When would you like the PenTest to be performed?
<input type="datetime-local" oninput="this.className = ''" name="IDENTIFIED">
Additional Information:
<input value="N/A" oninput="this.className = ''" name="OTHER">
Ivanti Reference Number (If Applicable):
<input value="N/A" oninput="this.className = ''" name="IVANTI">
</form>
-->