<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
	<div class="navbar-nav">
		<a class="nav-item nav-link" routerLink="/">Home</a>
		<a class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin">Admin</a>
		<a class="nav-item nav-link" (click)="logout()">Logout</a>
		<a class="nav-item nav-link" routerLink="/incident">Incident</a>
		<a class="nav-item nav-link" routerLink="/assistance">Assistance</a>
		<a class="nav-item nav-link" routerLink="/pen-test">Pen-Test</a>
		<a class="nav-item nav-link" routerLink="/quick-check">Quick-Check</a>
	</div>
</nav>

<!-- main app container -->
<div class="container">
	<!--<hello name="{{ name }}"></hello>-->
	<router-outlet></router-outlet>
</div>

<!-- credits -->
<div class="text-center mt-4">
	<p>
		<a href="https://jasonwatmore.com/post/2019/08/06/angular-8-role-based-authorization-tutorial-with-example"
			target="_top">Angular 8 - Role Based Authorization Tutorial with Example</a>
	</p>
	<p>
		<a href="https://jasonwatmore.com" target="_top">JasonWatmore.com</a>
	</p>
</div>