<h1>Incident</h1>
<!--
<form id="regForm" action="/report.php" method="post">
<h1 id="formHeader">Report an Incident</h1>
Incident Description*
<input placeholder="Please describe the incident..." name="WHAT" class="required" oninput="this.className = 'required'">
Incident Location
<input placeholder="Where did this incident occur?" name="WHERE" oninput="this.className = ''" class="">
People Involved
<input placeholder="Who is involved in this incident?" name="WHO" oninput="this.className = ''" class="">
People Aware
<input placeholder="Who is currently aware?" name="AWARENESS" oninput="this.className = ''" class="">
When did this incidient occur?
<input type="datetime-local" oninput="this.className = ''" name="WHENFROM" class="">
When was this incident identified?
<input type="datetime-local" oninput="this.className = ''" name="IDENTIFIED" class="">
Additional Information
<input placeholder="Any Additional Information? (Optional)" oninput="this.className = ''" name="OTHER" class="">
Ivanti Reference Number (If Applicable)
<input placeholder="Ivanti Reference Number (Optional)" oninput="this.className = ''" name="IVANTI">
</form>
-->